{% extends "board/base.html" %}

{% block content %}
<h2 class="text-2xl font-bold text-gray-900 dark:text-gray-100">フォロワーリスト</h2>

<a href="{% url 'profile' %}" class="text-blue-500 mt-4 inline-block">← プロフィールページに戻る</a>

<ul class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md mt-4">
    {% for follow in followers %}
        <li class="flex items-center space-x-4 p-2 border-b border-gray-300 dark:border-gray-600">
            <img src="{{ follow.follower.get_profile_image }}" alt="プロフィール画像" class="w-10 h-10 rounded-full">
            <strong class="text-gray-900 dark:text-gray-100">{{ follow.follower.username }}</strong>
        </li>
    {% empty %}
        <p class="text-gray-500 dark:text-gray-400">まだ誰にもフォローされていません。</p>
    {% endfor %}
</ul>

{% endblock %}
