{% extends "board/base.html" %}

{% block content %}

<!-- スレッド一覧へ戻るボタン -->
<div class="mb-6">
    <a href="{% url 'thread_list' %}" class="text-gray-800 font-semibold hover:text-gray-900 dark:text-gray-700 dark:hover:text-gray-400">← スレッド一覧へ戻る</a>
</div>

<h2 class="text-2xl font-bold text-gray-900 dark:text-gray-100 text-center">プロフィール</h2>

<!-- プロフィール画像 -->
<div class="flex flex-col items-center my-4">
    <img src="{{ user.get_profile_image }}" alt="プロフィール画像" class="w-24 h-24 rounded-full border shadow-md">
    <p class="text-lg font-medium mt-2 text-gray-900 dark:text-gray-100">こんにちは、<strong>{{ user.username }}</strong> さん！</p>
</div>

<!-- プロフィール編集ボタン -->
<div class="text-center mb-4">
    <a href="{% url 'profile_edit' %}" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">プロフィール編集</a>
</div>

<!-- プロフィール統計 -->
<div class="flex justify-center space-x-4 text-center mb-6">
    <a href="{% url 'following_list' %}" class="text-blue-600 dark:text-blue-400 font-semibold"><strong>{{ following_count }}</strong> フォロー</a>
    <a href="{% url 'followers_list' %}" class="text-blue-600 dark:text-blue-400 font-semibold"><strong>{{ followers_count }}</strong> フォロワー</a>
</div>
<div class="flex justify-center space-x-4 text-center mb-6">
    <a href="{% url 'my_threads' %}" class="text-blue-600 dark:text-blue-400 font-semibold"><strong>{{ threads_count }}</strong> 立てたスレッド</a>
    <a href="{% url 'my_posts' %}" class="text-blue-600 dark:text-blue-400 font-semibold"><strong>{{ posts_count }}</strong> 投稿したポスト</a>
</div>

<!-- キープリストページへのリンク -->
<div class="text-center mb-4">
    <a href="{% url 'kept_threads' %}" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600">
        キープリスト
    </a>
</div>


<!-- 無視リストページへのリンク -->
<div class="text-center mb-4">
    <a href="{% url 'ignored_users_list' %}" class="bg-gray-800 text-white px-4 py-2 rounded-lg hover:bg-gray-900 shadow-md">無視リスト</a>
</div>

<!-- ログアウトボタン -->
<div class="text-center">
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 shadow-md">ログアウト</button>
    </form>
</div>

{% endblock %}
